name: Build
on:
  push:
    branches:
      - "*"
    paths-ignore:
      - ".gitignore"
  pull_request:
    branches:
      - "*"
    paths-ignore:
      - ".gitignore"
  workflow_dispatch:
permissions: write-all
jobs:
  build:
    runs-on: ubuntu-latest
    name: "Build and test"
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Make gradlew executable
        run: chmod +x ./gradlew
      - name: Build with Gradle
        run: ./gradlew build --stacktrace
      - name: Extract version from Gradle
        id: extract_version
        run: |
          VERSION=$(./gradlew properties -q | grep "^version:" | awk '{print $2}')
          echo "VERSION=${VERSION}" >> $GITHUB_ENV
      - name: Find and rename JAR
        run: |
          JAR_FILE=$(find build/libs/ -name "*.jar" -not -name "*-dev.jar" -not -name "*-sources.jar" -not -name "*-all.jar" | head -n 1)
          
          echo "Found JAR: ${JAR_FILE}"
          echo "JAR_FILE=${JAR_FILE}" >> $GITHUB_ENV
          
          mv "$JAR_FILE" "build/libs/SecretRoutes-${{ env.VERSION }}-DEV.jar"
      - uses: actions/upload-artifact@v4
        name: Upload SRM
        with:
          name: "SecretRoutes-${{ env.VERSION }}-DEV"
          path: "build/libs/SecretRoutes-${{ env.VERSION }}-DEV.jar"